@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  padding-top: 3rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
